cmake-build-*
build
.DS_Store
.idea
.vscode
#resources
.bin
out
.vs
resources/*
!resources/dialog/
!resources/quests/
!resources/shaders/
!resources/asset-path-aliases.json
!resources/items.json
!resources/loot-table.json